# MicroCompiler
MicroCompiler/microc
MicroCompiler/program_mostro_binary
MicroCompiler/tests/*.s
MicroCompiler/obj

# Scanner (archivos generados por Flex, objetos y binarios)
Scanner/src/lex.yy.c
Scanner/src/*.lex.c
Scanner/src/*.o
Scanner/src/preprocessor
Scanner/presentation/*.aux
Scanner/presentation/*.log
Scanner/presentation/*.nav
Scanner/presentation/*.out
Scanner/presentation/*.snm
Scanner/presentation/*.toc
Scanner/presentation/*.vrb
Scanner/presentation/*.pdf
Scanner/presentation/*.tex

# binarios, código autogenerado de flex y objetos de Scanner
Scanner/bin
Scanner/build
Scanner/src/test_scanner
